/* Scss Document */


/* VAR */
$orange: #ffa200;
$brown: #8a7a67;



body{
	background-color:#fff;
	overflow-x:hidden;
    /*font-family: 'Raleway', sans-serif;*/
}

header{
	background-color:#fff;
	position: fixed;
	z-index: 9999;
	width: 100%;
	left: 0;
	top:0;
	
	.logo{
		width:100%;
		max-width:250px;
		padding:30px 0;
		position: relative;
    	z-index: 1000;	
	}
	.Mainmenu{
		padding-left:0;
		list-style:none;
		text-align:right;
		
		li{
			display:inline-block;
			padding-top:40px;
			margin-right:10px;
			
			a{
				color:$brown;
				padding-bottom:10px;
				text-transform:uppercase;
			}
			
			a:hover,a:focus,a.active{
				color:$orange;
				text-decoration:none;
				font-weight:bold;
				border-bottom:3px solid $orange;	
			}
			
		}
		li:last-child{
			margin-right:0;	
		}
		@media(max-width:992px){
			li{
				padding-top:30px;	
			}
		}
	}
}

.Mob{
	display:none;	
}
@media(max-width:767px){
	.Mob{
		display:inline;
	
		.mobMenu{
			width: 40px;
			float: right;
			margin-left: 10px;
			cursor:pointer;
			z-index:997;
			position:relative;
			margin-bottom: 10px;
			margin-top: 32px;
			
			span{
				height: 2px;
				background-color: $brown;
				width: 100%;
				display: block;
				margin-bottom: 8px;
				transition:all 0.3s ease-in-out;
			}
		}
		.open{
	
			.lone{
				-webkit-transform: rotate(-30deg);
				-ms-transform: rotate(-30deg);
				transform: rotate(-30deg);
				-webkit-transform-origin: top right;
				-o-transform-origin: top right;
				-ms-transform-origin: top right;
				transform-origin: top right;
			}
			.ltwo{
				opacity:0;	
			}
			.lthree{
				-webkit-transform: rotate(30deg);
				-ms-transform: rotate(30deg);
				transform: rotate(30deg);
				-webkit-transform-origin: top right;
				-o-transform-origin: top right;
				-ms-transform-origin: top right;
				transform-origin: top right;
			}
		}	
		
	}
}
.menuContent{
	width: 80vw;
	height: 100%;
	position: fixed;
	background-color: white;
	right: -80vw;
	top: 0;
	z-index: 996;
	transition:all 0.3s ease-in-out;

	.Mainmenu{
		text-align: left;
		padding:0 30px;
		margin-top: 120px;
		
		li{
			padding-top:0;
			display:block;
			margin-bottom:20px;
			
		}
	}
}
.isopen{
	right: 0;
}

.TopSlider{
	
	.item{
		height:680px;
		background-position:center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-top: 230px;
		padding-left: 120px;
		
		h1{
			text-transform:uppercase;
			color:white;
			font-weight: bold;
			font-size: 58px;
			line-height: 48px;
			margin-bottom: 5px;
		}
		p{
			color:$orange;
			font-size: 23px;	
		}
	}
	@media(max-width:767px){
		.item{
			padding-top: 80px;
			height:340px;
			text-align:center;
			padding-left:15px;
			padding-right:15px;
			
		}
	}
}

.contactinfo{
	background-color:#faf8f6;
	padding:20px 0;
	img{
		margin-right:15px;	
	}
	table{
		margin:0 auto;	
	}
	@media(max-width:767px){
		table{
			margin:0;	
			td{
				padding:10px 0;	
			}
		}
	}
	p{
		color:#a39896;
		margin:0;
		text-transform:uppercase;
	}
	h4{
		color:$orange;
		margin:0;
		font-weight:bold;
	}
	@media(min-width:767px){
		.center-w-border{
			border-right:1px solid #eee9e4;
			border-left:1px solid #eee9e4;
		}
	}
}

.ourhistory{
	padding:100px 0;
	background-color:#fff;
	text-align:center;
	
	h1{
		color:$brown;
		text-transform:uppercase;
		font-weight:bold;
		
		span{
			color:$orange;	
		}
	}
	.content{
		margin:30px 0;	
		p{
			max-width:700px;
			margin-right:auto;
			margin-left:auto;
			
			a{
				color:$orange;	
			}
			a:hover,a:focus{
				text-decoration:none;	
			}
		}
	}
}
.btn-orange{
	background-color:$orange;
	color:white;
	border-radius:4px;
	padding:10px 30px;
	border:1px solid $orange;
	text-transform:uppercase;
	transition:all 0.3s ease-in-out;
}
.btn-orange:hover,.btn-orange:focus{
	text-decoration:none;
	color:$orange;
	background-color:transparent;
}
.btn-brown{
	background-color:$brown;
	color:white;
	border-radius:4px;
	padding:10px 30px;
	border:1px solid $brown;
	text-transform:uppercase;
	transition:all 0.3s ease-in-out;
}
.btn-brown:hover,.btn-brown:focus{
	text-decoration:none;
	color:$brown;
	background-color:transparent;
}
.btn-white{
	background-color:white;
	color:$orange;
	border-radius:4px;
	padding:10px 30px;
	border:1px solid white;
	text-transform:uppercase;
	transition:all 0.3s ease-in-out;
}
.btn-white:hover,.btn-white:focus{
	text-decoration:none;
	color:white;
	background-color:transparent;
}
.aboutuspage{
	background-color:#fff;
	padding:100px 0;
	
	.title{
		h1{
			color:$brown;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:70px;
			text-align:center;
			max-width: 800px;
			margin-right: auto;
			margin-left: auto;
			
			span{
				color:$orange;	
			}
		}
	}
	a{
		color:$orange;	
	}
	
	a:hover,a:focus{
		text-decoration:none;	
	}
	.content{
		padding:70px 60px;	
	}
	.text{
		margin:50px 0;
		color:#7a7c7c;
		
		h1,h2,h3,h4,h5,h6{
			color:$brown;
			font-weight:bold;
		}
	}
	.box{
		margin-bottom:30px;	
	}
	
	@media(max-width:1024px){
		.content{
			padding:70px 30px;	
		}
	}
	@media(max-width:767px){
		.content{
			padding:0px 60px;	
		}
	}
}
.contactuspage{
	background-color:#fff;
	padding:100px 0;
	
	.title{
		h1{
			color:$brown;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0;
			text-align:center;
			
			span{
				color:$orange;	
			}
		}
		p{
			max-width:500px;
			margin:15px auto;
			text-align:center;
			color:#7a7c7c;	
		}
	}
	
	form{
		max-width:500px;
		margin:30px auto;
		.input{
			width:100%;
			padding:15px;
			border:1px solid #e0d3b8;
			color:#666;
			margin-bottom:15px;
			transition:all 0.3s ease-in-out;	
		}
		.input:focus{
			border:1px solid $brown;
		}
		.submit-btn{
			width:100%;
		}
	}
	
}
.ourproducts{
	background-color:#faf8f6;
	
	.content{
		padding:100px 30px;	
	}
	.title{
		p{
			color:$brown;
			margin-bottom:0;
		}
		h1{
			color:$brown;
			margin-top:0;
			text-transform:uppercase;
			font-weight:bold;
			
			span{
				color:$orange;	
			}
		}
	}
	.text{
		margin:50px 0;
		color:#7a7c7c;
			
	}
}
.right-custom-border{
	background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	width:100%;
	min-height:540px;
	padding:0;
	
	img{
		height:100%;
		width:auto;	
	}
	@media(max-width:767px){
		img{
			display:none;	
		}
	}
}
.no-padding{
	padding:0;
}
.recentevents{
	padding:100px 0;
	background-color:#fff;
	
	.title{
		margin-bottom:30px;
		h1{
			color:$brown;
			text-align:center;
			text-transform:uppercase;
			font-weight:bold;
			
			span{
				color:$orange;	
			}
		}
	}
	.content{
		p{
			color:#7a7c7c;	
		}
		.date{
			color:$orange;
			margin-bottom:0px;
			margin-top:20px;	
		}
		h2{
			color:$brown;
			margin-top:0px;	
		}
		
	}
	a:hover,a:focus{
		text-decoration:none;	
	}
	.small-events-box{
		margin-bottom:30px;
		height:96px;
		
		background-color:#f3f1f0;
		
		div{
			display:inline-block;
			
			.cover{
				position:relative;
				width:108px;
				min-height:96px;
				background-position:center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			p{
				overflow: hidden;
    			white-space: nowrap;
				text-overflow:ellipsis;
				width:100%;	
			}
			
		}
		.right-block{
			float:right;	
		}
		.left-block{
			width:108px;
			float:left;	
		}
		.center-block{
			width: calc(100% - 143px);
			float:left;
			padding-top: 15px;
			padding-left: 10px;	
		}
		.titlemini{
			color:$brown;
			font-weight:bold;
			margin-bottom:0;
	
		}
		.date{
			color:$orange;
			margin-top:0px;
		}
		.text{
			color:#7a7c7c;	
		}
		
	}
}

.ourpartners{
	padding:100px 0;
	background-color:#faf8f6;
	
	.title{
		margin-bottom:30px;
		h1{
			color:$brown;
			text-align:center;
			text-transform:uppercase;
			font-weight:bold;
			
			span{
				color:$orange;	
			}
		}
	}
	.partnersSlider{
		max-width:1024px;
		margin:0 auto;
		
		img{
			opacity:0.5;
			transition:all 0.3s ease-in-out;
			width:auto;
			max-width:100%;
			margin:0 auto;
		}
		img:hover{
			opacity:1;	
		}
	}
}
.ourcatalogue{
	padding:100px 0;
	background-color:$orange;
	color:white;
	text-align:center;
	
	h1{
		text-transform:uppercase;
		font-weight:bold;	
	}
	.content{
		margin:30px 0;	
		p{
			max-width:700px;
			margin-right:auto;
			margin-left:auto;
			font-size:18px;
		}
	}
}

footer{
	background-color:#4f4a44;
	padding:30px 0;
	text-align:center;
	
	.MenuFooter{
		padding-left:0;
		list-style:none;
		
		li{
			display:inline-block;
			margin:5px;
			
			a{
				color:white;
				transition:all 0.3s ease-in-out;
			}
			a:hover,a:focus{
				color:#ccc;
				text-decoration:none;	
			}
		}
	}
	p{
		color:white;
		opacity:0.5;
		font-size:12px;
	}
}
.elevator-button{
	position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    color: #999;
    cursor: pointer;
	z-index: 2;
	opacity:0;
	pointer-events:none;
	
	transition:all 0.3s ease-in-out;
	
	svg{
		width:50px;
		height:50px;
		fill:#999;
	}
}
.elevator-button:hover{
	opacity:1;	
}

.productspage{
	background-color:#fff;
	padding:100px 0;
	
	.title{
		margin-bottom:100px; 
		
		h1{
			color:$brown;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0;
			text-align:center;
			
			span{
				color:$orange;	
			}
		}
		p{
			max-width:580px;
			margin:15px auto;
			text-align:center;
			color:#7a7c7c;
			a{
				color:$orange;	
			}
			
			a:hover,a:focus{
				text-decoration:none;	
			}	
		}
	}
	.productBox{
		background-color:#faf8f6;
		padding: 40px 0px;
		margin-bottom:30px;
		
		.title{
			padding:0 20px;
			margin-top:20px;
			margin-bottom: 10px;
			
			h4{
				color:$brown;
				text-transform:uppercase;
				font-weight:bold;
				margin-top:10px;
				margin-bottom:20px;
				text-align:left;
				
				span{
					color:$orange;	
				}
			}
			p{
				margin:0px;
				text-align:left;
				color:#7a7c7c;
				font-size:10px;
				a{
					color:$orange;	
				}
				
				a:hover,a:focus{
					text-decoration:none;	
				}	
			}
		}
		.img-warp{
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;	
		}
		.text{
			padding:0 20px;
			font-size:13px;
			color:#7a7c7c;	
		}
		.readmore{
			margin-left:20px;
			color:$brown;
			margin-top:10px;
			border-bottom:1px solid #c7bfb7;
			text-decoration:none;
			display:inline-block;
		}
		.readmore:hover,.readmore:focus{
			text-decoration:none;
		}
	}
}

.newspage{
	background-color:#fff;
	padding:100px 0;
	
	.title{
		margin-bottom:100px; 
		
		h1{
			color:$brown;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0;
			text-align:center;
			
			span{
				color:$orange;	
			}
		}
		p{
			max-width:580px;
			margin:15px auto;
			text-align:center;
			color:#7a7c7c;
			a{
				color:$orange;	
			}
			
			a:hover,a:focus{
				text-decoration:none;	
			}	
		}
	}
	.newsBox{
		background-color:#faf8f6;
		padding: 0px 0px 40px 0px;
		margin-bottom:30px;
		
		.title{
			padding:0 20px;
			margin-top:20px;
			margin-bottom: 10px;
			
			h4{
				color:$brown;
				text-transform:uppercase;
				font-weight:bold;
				margin-top:10px;
				margin-bottom:20px;
				text-align:left;
				
				span{
					color:$orange;	
				}
			}
			p{
				margin:0px;
				text-align:left;
				color:#7a7c7c;
				font-size:10px;
				a{
					color:$orange;	
				}
				
				a:hover,a:focus{
					text-decoration:none;	
				}	
			}
		}
		.news-img-warp{
			
			height:250px;
			background-position:center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;	
		}
		.text{
			padding:0 20px;
			font-size:13px;
			color:#7a7c7c;	
		}
		.readmore{
			margin-left:20px;
			color:$brown;
			margin-top:10px;
			border-bottom:1px solid #c7bfb7;
			text-decoration:none;
			display:inline-block;
		}
		.readmore:hover,.readmore:focus{
			text-decoration:none;
		}
	}
}

.subMenu{
	background-color:#faf8f6;
	padding:20px 30px;
	text-align:center;
	position: fixed;
    z-index: 999;
    margin-top: -1px;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar; 
	
	a{
		color:$brown;
		transition:all 0.3s ease-in-out;
		padding:10px;
		font-weight:700;
		border-right: 1px solid #eee9e4;
	}
	a:hover,a.active{
		color:$orange;
		text-decoration:none;	
	}
    a:focus{
		text-decoration:none;	
	}
	a:last-child{
		border-right:0;
	}
}

.productspage-in{
    background-color:#fff;
	padding:60px 0 0 0;
	
    #features{
       /* max-width: 1170px;
        margin: 0 auto;
        padding: 15px;*/
        p{
            color: #7a7c7c;
        }
        li{
            color: #7a7c7c;
            margin-bottom: 10px;
        }
        h4{
            color:$brown;
            font-weight: 700;
        }
    }
	.title{
			/*padding:0 20px;*/
			margin-top:80px;
			margin-bottom: 10px;
			
			h1{
				color:$brown;
				text-transform:uppercase;
				font-weight:bold;
				margin-top:10px;
				margin-bottom:20px;
				text-align:left;
				
				span{
					color:$orange;	
				}
			}
			p{
				margin:0px;
				text-align:left;
				color:$brown;
			}
		}
}

.executions{
    background-color:#faf8f6;
	padding:100px 0;
    color:#7a7c7c;
    h4{
        color:$brown;
        font-weight: 700;
        margin-bottom: 30px;
    }
    ul.Panels{
        padding-left: 15px;
    }
    
}

.configurations{
    background-color:#fff;
	padding:100px 0 50px 0;
    color: #7a7c7c;
    h4{
        color:$brown;
        font-weight: 700;
        margin-bottom: 30px;
    }
    table{
        border: 1px solid #c1b9b2;
        td{
            text-align: center;
        }
        thead{
            background-color: #e6e0da;
            font-weight: 700;
            td{
                padding: 20px 8px;
            }
        }
        tbody{
            tr:hover {
                background-color: #faf8f6;
            }
            td{
                border-top: 1px solid #c1b9b2;
                padding: 20px 8px;
            }
        }
    }
}

.gallery{
    background-color:#fff;
	padding:50px 0px 100px 0;
	
	.title{
		margin-bottom:100px; 
		
		h1{
			color:$brown;
			text-transform:uppercase;
			font-weight:bold;
			margin-bottom:0;
			text-align:center;
			
			span{
				color:$orange;	
			}
		}
		p{
			max-width:580px;
			margin:15px auto;
			text-align:center;
			color:#7a7c7c;
			a{
				color:$orange;	
			}
			
			a:hover,a:focus{
				text-decoration:none;	
			}	
		}
	}
	
    h4{
        color:$brown;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .productBox{
		background-color:#faf8f6;
		padding: 40px 0px;
		margin-bottom:30px;
		
		
		.img-warp{
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
            margin-bottom: 20px;
            
            a{
                display: block;
                width: 100%;
            }
		}
        p{
            color:#7a7c7c;
            font-size:10px;
            padding: 0 30px;
        }
	}
    
}